<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>还款计划</title>

    <link rel="icon shortcut" href="../../common/img/favicon.ico" />
    <link rel="icon" href="../../common/img/favicon.ico" />
    <link rel="icon" href="../../common/img/favicon.ico" type="image/x-icon"/>

    <link rel="stylesheet" href="../../common/lib/bootstrap/css/bootstrap.css">

    <link rel="stylesheet" href="../../common/css/reset.css">
    <link rel="stylesheet" href="../../common/css/base.css">

    <link rel="stylesheet" href="../../component/header/header.css">
    <link rel="stylesheet" href="../../component/footer/footer.css">
    <link rel="stylesheet" href="../../common/css/breadcrumb.css">
    <link rel="stylesheet" href="../../common/css/account-left.css">

    <link rel="stylesheet" href="repayment-plan/repayment-plan.css">

    <!--[if lte IE 8]>
    <script src="../../common/lib/html5/excanvas.js"></script>
    <script src="../../common/lib/html5/html5.js"></script>
    <![endif]-->

</head>
<body>

<div id="app"></div>

<script src="../../common/lib/react/react.min.js"></script>
<script src="../../common/lib/react/react-dom.min.js"></script>
<script src="../../common/lib/react/browser.min.js"></script>

<script src="../../common/lib/jquery/jquery.js"></script>
<script src="../../common/lib/bootstrap/js/bootstrap.min.js"></script>

<script src="../../common/js/global.js"></script>
<script src="../../common/js/utils.js"></script>

<script type="text/babel" src="../../component/account-left.js"></script>
<script type="text/babel" src="../../component/breadcrumb.js"></script>
<script type="text/babel" src="../../component/header/header.js"></script>
<script type="text/babel" src="../../component/footer/footer.js"></script>
<script type="text/babel" src="../../component/pagination.js"></script>
<script type="text/babel" src="../../component/table.js"></script>
<script type="text/babel" src="../../component/modal.js"></script>

<script type="text/babel" src="repayment-plan/repayment-plan.js"></script>
</body>
</html>