<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>投资计算器</title>

    <!--<link rel="icon shortcut" href="/common/pic/favicon/favicon.ico">-->
    <!--<link rel="icon" href="/common/pic/favicon/favicon.ico">-->
    <!--<link rel="icon" href="/common/pic/favicon/favicon.ico" type="image/x-icon"/>-->

    <link rel="stylesheet" href="../../common/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../common/lib/swiper/swiper.min.css"/>
    <link rel="stylesheet" href="../../common/css/reset.css">
    <link rel="stylesheet" href="../../common/css/app.css">
    <link rel="stylesheet" href="../../component/header/header.css">
    <link rel="stylesheet" href="../../component/footer/footer.css">
    <link rel="stylesheet" href="calculate/calculate.css"/>

    <!--[if lte IE 8]>
    <script src="../../common/lib/html5/excanvas.js"></script>
    <script src="../../common/lib/html5/html5.js"></script>
    <![endif]-->

</head>
<body>
<div id="header"></div>
<div id="app"></div>
<div id="footer"></div>
<script src="../../common/lib/jquery/jquery.js"></script>
<script src="../../common/lib/react/react.min.js"></script>
<script src="../../common/lib/react/react-dom.min.js"></script>
<script src="../../common/lib/react/browser.min.js"></script>
<script src="../../common/lib/jquery.validation/jquery.validation.js"></script>
<script src="../../common/lib/jquery.validation/custom/additional-methods.js"></script>
<script src="../../common/lib/jquery.validation/custom/messages_cn.js"></script>
<script src="../../common/lib/swiper/swiper.min.js"></script>
<script type="text/babel" src="../../component/header-will-be-uninstall.js"></script>
<script type="text/babel" src="../../component/footer-will-be-uninstall.js"></script>
<script type="text/babel" src="calculate/calculate.js"></script>
</body>
</html>

