.page-container {
    margin-top: 30px;
}

.list-tab {
    line-height: 50px;
    height: 50px;
    font-size: 0;
    border-top: 3px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    background-color: #fff;
}

.list-tab .list-item {
    display: inline-block;
    width: 180px;
    font-size: 16px;
    border-top: 3px solid #dbdbdb;
    text-align: center;
    position: relative;
    top: -3px;
    line-height: 47px;
    height: 50px;
    font-weight: bold;
}

.list-tab .list-item.active {
    border-top: 3px solid #CE0808;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #cbdcd6;
}

.list-tab .list-item.active:after {
    content: '';
    display: block;
    position: absolute;
    height: 3px;
    background-color: #ffffff;
    width: 100%;
}

.list-item a {
    color: #999999;
}

.list-item.active a {
    color: #333333;
}

.search-area {
    padding: 20px 50px 20px 20px;
    background-color: #fff;
}

.search-area dl {
    margin-top: 5px;
    font-size: 0;
}

.search-area dt {
    padding: 5px;
    margin-right: 10px;
}

.search-area dt,
.search-area dd {
    display: inline-block;
    font-size: 14px;
    color: #a8a8a8;
}

.search-area button {
    padding: 5px;
    margin: 0 5px;
}
.search-area .active {
    background-color: #CE0808;
    color: #fff;
    border-radius:5px;
}

span.list-item a {
    margin-left: 5px;
}

span.list-item.active {
    width: 220px;
    border-left: 0 none;
    border-right: 1px solid #cbdcd6;
}

table {
    background-color: #fff;
}

th {
    color: #a8a8a8;
}

th:first-child {
    text-align: left;
    padding-left: 40px;
}

th,
td {
    border-bottom: 1px solid #e5e5e5;
    height: 80px;
    color: #a8a8a8;
    text-align: center;
    font-weight: normal;
}

td {
    color: #333;
    font-weight: bold;
    vertical-align: middle;
}

tr td:first-child {
    text-align: left;
}

.invest-title {
    display: inline-block;
    width: 11em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #8c1a1d;
    margin-left: 40px;
    vertical-align: top;
}

.invest-title:hover {
    color: #8c1a1d;
}

/*      圆形图表    */
.percentage {
    position: relative;
    width: 57px;
    height: 57px;
    margin: 0 auto;
}

.percentage-text {
    position: absolute;
    line-height: 57px;
    width: 57px;
    font-size: 12px;
}

/*  按钮状态  start  */
.btn-invest {
    width: 100px;
    height: 25px;
    background: #8C1A1D;
    border: 0 none;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    display: block;
    line-height: 25px;
    margin: 0 auto;
}

a.btn-invest:hover {
    color: #fff;
}

span.btn-invest {
    cursor: default;
}

.btn-not-start {
    background: #E68F8C !important;
}

.btn-invest-full {
    background: #95D195 !important;
}

.btn-repayment {
    background: #F5CA8C !important;
}

.btn-already-repayment {
    background: #94D6EA !important;
}

/*  按钮状态  end  */
footer {
    background-color: #eee;
}